.createContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Sens', sans-serif;
    box-shadow: 0px 0px .8rem rgba(50, 49, 49, 0.6);
}

.createMain {
    width: 25rem;
    padding: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 10px;

    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.createHeading {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding: 6px;
}

.backIcon {
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    padding-right: 7px;
    margin-top: 6px;
}

.createLabel {
    display: block;
    margin-bottom: .6rem;
    font-weight: 400;
}

.createInput {
    width: 100%;
    padding: .6rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: 400;
}

.createButton {
    width: 25%;
    padding: .6rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 7.7rem;
}

.createButton:hover {
    background-color: #0056b3;
}
